/**
 * Z Indexes
 * -------------------------------------------------------------------------- */

:root {
  --z-index-local-nav: 10;
  --z-index-nav: 20;
  --z-index-backdrop: 40;
  --z-index-sidebar: 50;
}
