.vt-doc .custom-block {
  margin: 28px 0;
  padding: 20px 24px 4px 42px;
  border-radius: 8px;
  overflow-x: auto;
  transition: background-color 0.5s;
  position: relative;
}

.vt-doc .custom-block:before {
  content: 'ⓘ';
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  top: 18px;
  left: 17px;
}

.vt-doc .custom-block p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: var(--vt-c-text-2);
  transition: color 0.5s;
}

.vt-doc .custom-block .custom-block-title {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
  color: var(--vt-c-text-1);
}

.vt-doc .custom-block.tip {
  background-color: var(--vt-c-bg-soft);
}

.vt-doc .custom-block.warning {
  background-color: rgba(255, 229, 100, 0.3);
}

.vt-doc .custom-block.warning .custom-block-title,
.vt-doc .custom-block.warning:before {
  color: #b29400;
}

.vt-doc .custom-block.danger {
  background-color: #ffe6e6;
}

.vt-doc .custom-block.danger .custom-block-title,
.vt-doc .custom-block.danger:before {
  color: #ff3333;
}

.vt-doc .custom-block.danger a,
.vt-doc .custom-block.warning a {
  color: var(--vt-c-text-code);
}

.dark .vt-doc .custom-block.warning {
  background-color: rgba(152, 137, 60, 0.15);
}

.dark .vt-doc .custom-block.warning .custom-block-title,
.dark .vt-doc .custom-block.warning:before {
  color: #ffbc00;
}

.dark .vt-doc .custom-block.danger {
  background-color: rgba(255, 123, 123, 0.12);
}

.dark .vt-doc .custom-block.danger .custom-block-title,
.dark .vt-doc .custom-block.danger:before {
  color: #ff5656;
}

.vt-doc .custom-block li:before {
  top: 0.6rem;
}

.vt-doc .custom-block :not(pre) > code {
  background-color: rgba(27, 31, 35, 0.05);
}

.dark .vt-doc .custom-block :not(pre) > code {
  background-color: rgba(0, 0, 0, 0.2);
}
