.vp-doc h1 {
  position: relative;
  margin: 0 0 14px;
  line-height: 32px;
  font-size: 24px;
  font-weight: 500;
}

.vp-doc h1 + p {
  margin-top: 14px;
}

@media (min-width: 768px) {
  .vp-doc h1 {
    line-height: 40px;
    font-size: 32px;
  }
}

.vp-doc h2 {
  position: relative;
  margin: 64px 0 14px;
  border-top: 1px solid var(--c-divider-light);
  padding-top: 20px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
  transition: border-color .5s;
}

@media (min-width: 768px) {
  .vp-doc h2 {
    line-height: 32px;
    font-size: 24px;
  }
}

.vp-doc .header-anchor {
  float: left;
  margin-left: -.87em;
  padding-right: .23em;
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  transition: color .25s, opacity .25s;
}

@media (min-width: 640px) {
  .vp-doc .header-anchor {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .vp-doc .header-anchor {
    font-size: 24px;
  }
}

.vp-doc h1:hover .header-anchor,
.vp-doc h1:focus .header-anchor,
.vp-doc h2:hover .header-anchor,
.vp-doc h2:focus .header-anchor {
  opacity: 1;
}

.vp-doc p {
  margin: 18px 0;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
}

.vp-doc a {
  font-weight: 500;
  color: var(--c-brand);
  transition: color .25s;
}

.vp-doc a:hover {
  color: var(--c-brand-dark);
}

.vp-doc strong {
  font-weight: 700;
}
